Python :

What is python ?
> python is simple and easy .
> Free and open source .
> High level language .
> Developed by Guido Van Rossum .
> Portable.

In [3]:
# Our first Program :
print('Hello world')
print('MoizButt')

Hello world
MoizButt

Python Character Set:
> Letters - A to z , a to z .
> Digits 0 to 9 .
> Special symbols  - + * / etc .
> Whitespaces - blank space, tab , carriage return , newline , formfeed.
> Other characters - python can process all ASCII and unicode characters as partmof data orliterals.

In [5]:
print('My age is 20')

My age is 20

Variables:
> A variable is a name given to a memory location in a program.

name = ' Moiz'
Age= 20
price= 29.44

In [10]:
Name = 'MOiz'
Age = 20
Price = 29.44
print(Name)
print(Age)
print(Price)

MOiz
20
29.44

In [11]:
Name = 'MOiz'
Age = 20
Price = 29.44
print('My name is :',Name)
print('My age is :',Age)
print('This is the price:',Price)

My name is : MOiz
My age is : 20
This is the price: 29.44

Rules Of Identifiers:
> Identifiers can be combination of uppercase and lowercase letters, digits of an underscore(_).
so myVariable, variable_1, variable1 all are valid , 1variable are not valid.
> An identifier cannot start with digit, So while variable1 is valid python identifiers.
> We can't use special symbol like !, ~, #, Â£ etc.
> Identifiers can be of any length.

In [12]:
Name = 'MOiz'
Age = 20
Price = 29.44
print(type(Name))
print(type(Age))
print(type(Price))

<class 'str'>
<class 'int'>
<class 'float'>

Data Types:
> Integers.

> String.

> Float.

> Boolean.

> None.

Keywords.
> Keywords are reserved words in python.

For example ;    
> and                       
                
> as                        

> break                   

> class

> pass

> for

> else

> if

In [14]:
# print sum 
a=2
b=4
sum=a+b
print(sum)

6

In [15]:
# print sub
a=9
b=5
sub=a-b
print(sub)

4

Comments in Python :
>(#) single Line Comment.

> """ multi Line Comment.

Types Of Operators:
> An operators is a symbol that performs a certain operation between operands.

> Arithmetic Operators (-, +, *, % ).

> Relational / Comparison Operators ( ==, !=, >, <, <=,>=])

> Assignment Operators (=, +=, -=, *=, /=, %=, **=)

> Logical Operators (not, and, or)

In [19]:
#  Arithmetic Operators 
a=5
b=2

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)#reminder
print(a**b)#a^b

7
3
10
2.5
1
25

In [22]:
#Relational / Comparison Operators 
a= 30
b= 50

print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)

False
True
False
True

In [25]:
#Assignment Operators
num = 10
num =num +10 # sum
print("num :", num)
num = 10
num =num -10 # sub
print("num :", num)
num = 10
num =num *10 # mul
print("num :", num)

num : 20
num : 0
num : 100

In [30]:
# Logical 
a = 12
b = 19
print(not False)
print(not True)

# and op

val1=True
val2=False
print("ans ope :", val1 and val2)

# or ope 

print(" OR ope:", val1 or val2)

True
False
ans ope : False
 OR ope: True

Type Conversion:
> a, b = 1, 2.0

> sum= a+b

Error

> a, b = 1,"2"

> sum= a=b

In [32]:
# type conversion
a = 3
b = 6.7

sum= a+b
print(sum)

9.7

Type Casting :

a, b =1,"2"

c = int(b)

sum= a+c

In [35]:
a = int ("3")
b = 6.7

print(type(a))
print(a+b)

#float
a = float ("3")
b = 6.7

print(type(a))
print(a+b)

a=1.23
a= str(a)

print(type(a))

<class 'int'>
9.7
<class 'float'>
9.7
<class 'str'>

Input in Python :

> Input() statment is used to accept values ( using keyboard) from user.

> input()

> int(input()) #int

> float(input()) # float

In [7]:
name= input("enter your Name : ")
print("Welcome:", name)

enter your Name :  MOiz

Welcome: MOiz

In [6]:
val = input("enter your val : ")
print(type(val),val)

enter your val :  99.3

<class 'str'> 99.3

In [5]:
val = int(input("enter your val : "))
print(type(val),val)

enter your val :  23

<class 'int'> 23

In [8]:
name = input("Enter your Name:")
age = input("Enter your Age:")
marks = input("Enter your Marks:")

print("Welcome",name)
print("your age:",age)
print("Your Marks:",marks)

Enter your Name: MOiz
Enter your Age: 20
Enter your Marks: 69

Welcome MOiz
your age: 20
Your Marks: 69