Lists in python:

A built-in data ype that stores set of values.

it can store elements of different types. (integer, float, string, etc.)

marks = [87, 43, 67, 98, 65] #marks[0], marks[1]..

student = ["Asad", 98,"kotli"] # student[0], student[1]..

student[0] = "saad" # allowed in python

len(student) # returns length

In [2]:
marks1 = 94.6
marks2 = 87
marks3 = 98.3
marks4 = 66.9
marks5 = 97.2

marks = [94.6, 87, 98.3, 66.9, 97.2]
print(marks)
print(type(marks))

[94.6, 87, 98.3, 66.9, 97.2]
<class 'list'>

In [3]:
marks = [94.6, 87, 98.3, 66.9, 97.2]
print(marks)
print(type(marks))
print(marks[0])
print(marks[1])

[94.6, 87, 98.3, 66.9, 97.2]
<class 'list'>
94.6
87

In [4]:
student = ["Asad", 90, 18, "kotli"]
print(student[0])
student[0] = "Saad"
print(student)

Asad
['Saad', 90, 18, 'kotli']

List Slicing:

Similar to string slicing.

list_name[ starting_idx : ending_idx] # sending idx is not included

marks = [91,  39,98, 92]

marks[1:3] is [39, 98, 92]

marks[:4] is same as marks [0:4]

marks[1:] is same as marks[1: len(marks)]

marks[-3:-1] is [91, 98]

In [5]:
marks = [85, 94, 76, 63, 48]
print(marks[1:])

[94, 76, 63, 48]

In [6]:
marks = [85, 94, 76, 63, 48]
print(marks[-3:-1])

[76, 63]

List Method:

list= [2, 1, 3]

list.append(4) # adds one element at the end [ 2, 1, 3, 4]

list.sort() # sorts in ascending order [ 1, 2, 3]

list.sort(reverse = True) # sorts in descending order [3, 2, 1]

list.reverse() #reverse list [3, 2, 1]

list.insert(idx, le) #insert element at index.

list.remove(1) #remove first occurrence of element [2, 3, 1]

list.pop(idx) #remove element at idx

In [7]:
list = [2, 1, 3, 5, 4]
list.append(6)
print(list)

[2, 1, 3, 5, 4, 6]

In [8]:
list = [2, 1, 3, 5, 4]
list.sort()
print(list)

[1, 2, 3, 4, 5]

In [9]:
list = [2, 1, 3, 5, 4]
list.sort(reverse = True)
print(list)

[5, 4, 3, 2, 1]

In [10]:
list = [2, 1, 3, 5, 4]
list.reverse()
print(list)

[4, 5, 3, 1, 2]

In [12]:
list = [2, 1, 3, 5, 4]
list.insert(1, 6)
print(list)

[2, 6, 1, 3, 5, 4]

In [13]:
list = [2, 1, 3, 5, 4]
list.remove(3)
print(list)

[2, 1, 5, 4]

In [16]:
list = [2, 1, 3, 5, 4]
list.pop(3)
print(list)

[2, 1, 3, 4]

Tuples in Python:

A built_in data type that lets us create immutable sequences of Values.

tup = [87, 83, 63,94] # tup[0] , tup[1]

tup[0]=87 #NOT allowed in python

tup1 = ()

tup2 = (1,)

tup3 = (1,2,3)

In [19]:
tup = [1, 2, 3, 1]
print(tup[0])
print(tup[1])

1
2

Tuples Method:

tup = (2, 1, 3, 1)

tup.index(el) # returns index of first occurrenc tup.index(1) is 1.

tup.count(el) # counts total occurrences tup.count(1) is 2